<img src="images/img.png" />

# CS5228 Project, Group 32

In [19]:
# Auto reload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
import os
import json
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MultiLabelBinarizer
from tqdm import tqdm
import seaborn as sns
import matplotlib.pyplot as plt

In [21]:
from util.DataMining import split_dataframe, split_dataframe_flex
from util.DataMining import (
    RandomForestMining,
    RandomForestMiningByModel,
    GradientBoostingMining,
    GradientBoostingMiningByModel,
    XGBoostMining,
    XGBoostMiningByMake,
    LinearRegressionMining,
    LinearRegressionMiningByModel,
)

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

## Code cells for data mining code here

In [22]:
train_file = './data/train_preprocessed_impute.csv'
test_file = './data/test_preprocessed.csv'

df = pd.read_csv(train_file)
df_test = pd.read_csv(test_file)

In [30]:
selected_columns = [
    'make',
    'model',
    'type_of_vehicle',
    'engine_cap',
    'no_of_owners',
    'depreciation',
    'power',
    'road_tax',
    'mileage',
    'omv_arf_ratio',
    'dereg_coe_ratio',
    'car_age',
    'omv',
    'arf',
    'price',
    'coe car',
    'parf car',
    'low mileage car'
]

df_filtered = df[selected_columns]

run_times, rmse_sum = 5, 0
for i in tqdm(range(run_times), desc='Running XGBoost'):
    train_drop_cols = ['price']
    x_train, x_test, y_train, y_test = split_dataframe(df_filtered, train_drop_cols)
    rmse_sum += XGBoostMining(x_train, x_test, y_train, y_test)
print('Average RMSE:', round(rmse_sum / run_times))

Running XGBoost:  20%|████████████████████████████▏                                                                                                                | 1/5 [00:02<00:11,  2.78s/it]

Running not in develop mode
RMSE on test data: 25777.88039039003

Running XGBoost:  40%|████████████████████████████████████████████████████████▍                                                                                    | 2/5 [00:05<00:08,  2.77s/it]

Running not in develop mode
RMSE on test data: 18859.900650503736

Running XGBoost:  60%|████████████████████████████████████████████████████████████████████████████████████▌                                                        | 3/5 [00:08<00:05,  2.76s/it]

Running not in develop mode
RMSE on test data: 21004.420315629206

Running XGBoost:  80%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████▊                            | 4/5 [00:10<00:02,  2.73s/it]

Running not in develop mode
RMSE on test data: 22930.632007651006

Running XGBoost: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:13<00:00,  2.78s/it]

Running not in develop mode
RMSE on test data: 17806.909005528287
Average RMSE: 21276

In [31]:
x_train.head()

,make,model,type_of_vehicle,engine_cap,no_of_owners,depreciation,power,road_tax,mileage,omv_arf_ratio,dereg_coe_ratio,car_age,omv,arf,coe car,parf car,low mileage car
6109,51.0,157.0,8.0,2996.0,2.0,30220.0,270.0,2382.0,116000.0,0.722584,2.520139,6.0,67295.0,93131.0,0.0,1.0,0.0
12310,45.0,303.0,6.0,3456.0,1.0,54510.0,298.0,3100.0,3800.0,0.473987,1.308472,1.0,110067.0,232215.0,0.0,1.0,1.0
3093,29.0,274.0,8.0,1496.0,1.0,16250.0,174.0,778.0,99.0,1.081658,1.171690,0.0,27340.0,25276.0,0.0,1.0,1.0
9919,29.0,220.0,3.0,1799.0,3.0,12190.0,103.0,1271.0,133189.0,1.000000,0.687674,13.0,25169.0,25169.0,1.0,0.0,0.0
3710,88.0,156.0,3.0,1598.0,1.0,13210.0,90.0,742.0,111000.0,1.363346,0.996171,10.0,18761.0,13761.0,1.0,0.0,0.0

In [32]:
df_selected = df[selected_columns]

x_train, y_train = df_selected.drop(columns=['price']), df[['price']]
x_test = df_test[x_train.columns]

res_nomodel = XGBoostMining(x_train, x_test, y_train, dev=True)
res_nomodel.reset_index(inplace=True)
res_nomodel.rename(columns={'index': 'Id'}, inplace=True)
res_nomodel.to_csv('./data/xgb_result.csv', index=False)

### This cell do prediction model by model

Validation cell

In [212]:
run_times, rmse_sum = 5, 0
for i in tqdm(range(run_times), desc='Running XGBoost'):
    train_drop_cols = ['price']
    test_cols = ['price', 'make']
    x_train, x_test, y_train, y_test = split_dataframe_flex(df, train_drop_cols, test_cols)
    rmse_sum += XGBoostMiningByMake(x_train, x_test, y_train, y_test)
print('Average RMSE:', round(rmse_sum / run_times))

Running XGBoost:   0%|                                                                                                                                                     | 0/5 [00:00<?, ?it/s]/Users/enqurance/Desktop/NUS/Sem1_AY2024-2025/CS5228/Projects/CS5228_Project/util/DataMining.py:168: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  missing_models = pd.concat([missing_models, row_df])
Running XGBoost:  20%|████████████████████████████                                                                                                                | 1/5 [02:23<09:34, 143.58s/it]

Running not in develop mode
RMSE on test data: 86576.02580016718

/Users/enqurance/Desktop/NUS/Sem1_AY2024-2025/CS5228/Projects/CS5228_Project/util/DataMining.py:168: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  missing_models = pd.concat([missing_models, row_df])
Running XGBoost:  40%|████████████████████████████████████████████████████████                                                                                    | 2/5 [04:49<07:14, 144.74s/it]

Running not in develop mode
RMSE on test data: 97104.87752028811

/Users/enqurance/Desktop/NUS/Sem1_AY2024-2025/CS5228/Projects/CS5228_Project/util/DataMining.py:168: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  missing_models = pd.concat([missing_models, row_df])
Running XGBoost:  60%|████████████████████████████████████████████████████████████████████████████████████                                                        | 3/5 [07:13<04:49, 144.72s/it]

Running not in develop mode
RMSE on test data: 93299.2585681242

/Users/enqurance/Desktop/NUS/Sem1_AY2024-2025/CS5228/Projects/CS5228_Project/util/DataMining.py:168: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  missing_models = pd.concat([missing_models, row_df])
Running XGBoost:  80%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████                            | 4/5 [09:33<02:22, 142.90s/it]

Running not in develop mode
RMSE on test data: 92199.50612841758

/Users/enqurance/Desktop/NUS/Sem1_AY2024-2025/CS5228/Projects/CS5228_Project/util/DataMining.py:168: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  missing_models = pd.concat([missing_models, row_df])
Running XGBoost: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [12:00<00:00, 144.16s/it]

Running not in develop mode
RMSE on test data: 91798.99605347653
Average RMSE: 92196

Prediction on test dataset

In [ ]:
x_train, y_train = df.drop(columns=['price']), df[['price', 'make']]
x_test = df_test[x_train.columns]
res_model =  XGBoostMiningByMake(x_train, x_test, y_train, dev=True)

In [ ]:
res_model.to_csv('./data/xgb_by_model_result.csv', index=False)