<img src="images/img.png" />

# CS5228 Project, Group 32

In [68]:
# Auto reload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [97]:
import os
import json
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MultiLabelBinarizer
from tqdm import tqdm
import seaborn as sns
import matplotlib.pyplot as plt

In [98]:
from util.DataMining import split_dataframe, split_dataframe_flex
from util.DataMining import (
    RandomForestMining,
    RandomForestMiningByModel,
    GradientBoostingMining,
    GradientBoostingMiningByModel,
    XGBoostMining,
    XGBoostMiningByMake,
    LinearRegressionMining,
    LinearRegressionMiningByModel,
)

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

## Code cells for data mining code here

In [176]:
train_file = './data/train_preprocessed_impute.csv'
test_file = './data/test_preprocessed.csv'

df = pd.read_csv(train_file)
df_test = pd.read_csv(test_file)

In [201]:
selected_columns = [
    'make',
    'model',
    'type_of_vehicle',
    'engine_cap',
    'no_of_owners',
    'depreciation',
    'power',
    'road_tax',
    'mileage',
    'omv_arf_ratio',
    'dereg_coe_ratio',
    'car_age',
    'omv',
    'arf',
    'price',
    'coe car',
    'parf car',
]

df_filtered = df[selected_columns]

run_times, rmse_sum = 5, 0
for i in tqdm(range(run_times), desc='Running XGBoost'):
    train_drop_cols = ['price']
    x_train, x_test, y_train, y_test = split_dataframe(df_filtered, train_drop_cols)
    rmse_sum += XGBoostMining(x_train, x_test, y_train, y_test)
print('Average RMSE:', round(rmse_sum / run_times))

Running XGBoost:  20%|████████████████████████████▏                                                                                                                | 1/5 [00:02<00:08,  2.18s/it]

Running not in develop mode
RMSE on test data: 25214.22693797391

Running XGBoost:  40%|████████████████████████████████████████████████████████▍                                                                                    | 2/5 [00:04<00:06,  2.18s/it]

Running not in develop mode
RMSE on test data: 20578.68561188324

Running XGBoost:  60%|████████████████████████████████████████████████████████████████████████████████████▌                                                        | 3/5 [00:06<00:04,  2.16s/it]

Running not in develop mode
RMSE on test data: 22772.582142339405

Running XGBoost:  80%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████▊                            | 4/5 [00:08<00:02,  2.23s/it]

Running not in develop mode
RMSE on test data: 23068.46057765834

Running XGBoost: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:11<00:00,  2.36s/it]

Running not in develop mode
RMSE on test data: 23558.354721812186
Average RMSE: 23038

In [202]:
x_train.head()

,make,model,type_of_vehicle,engine_cap,no_of_owners,depreciation,power,road_tax,mileage,omv_arf_ratio,dereg_coe_ratio,car_age,omv,arf,coe car,parf car
2928,4,132.0,2,999.0,1.0,16200.0,85.0,392.000000,23889.000000,0.963609,1.072579,4,22084.0,22918.0,0,1
4386,32,580.0,2,2997.0,2.0,39890.0,298.0,2382.000000,79000.000000,0.818745,0.870106,7,44787.0,54702.0,0,1
19835,54,317.0,6,1998.0,6.0,26780.0,206.0,1815.000000,141444.474398,1.000000,0.410672,16,34499.0,34499.0,1,0
3834,88,273.0,9,2755.0,1.0,13340.0,97.0,2672.393568,66273.603115,19.994051,0.787134,2,33610.0,1681.0,0,0
21051,58,542.0,10,1597.0,1.0,9260.0,105.0,766.490801,59598.532941,19.983333,0.917806,1,15587.0,780.0,0,0

In [203]:
df_selected = df[selected_columns]

x_train, y_train = df_selected.drop(columns=['price']), df[['price']]
x_test = df_test[x_train.columns]

res_nomodel = XGBoostMining(x_train, x_test, y_train, dev=True)
res_nomodel.reset_index(inplace=True)
res_nomodel.rename(columns={'index': 'Id'}, inplace=True)
res_nomodel.to_csv('./data/xgb_result.csv', index=False)

### This cell do prediction model by model

Validation cell

In [212]:
run_times, rmse_sum = 5, 0
for i in tqdm(range(run_times), desc='Running XGBoost'):
    train_drop_cols = ['price']
    test_cols = ['price', 'make']
    x_train, x_test, y_train, y_test = split_dataframe_flex(df, train_drop_cols, test_cols)
    rmse_sum += XGBoostMiningByMake(x_train, x_test, y_train, y_test)
print('Average RMSE:', round(rmse_sum / run_times))

Running XGBoost:   0%|                                                                                                                                                     | 0/5 [00:00<?, ?it/s]/Users/enqurance/Desktop/NUS/Sem1_AY2024-2025/CS5228/Projects/CS5228_Project/util/DataMining.py:168: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  missing_models = pd.concat([missing_models, row_df])
Running XGBoost:  20%|████████████████████████████                                                                                                                | 1/5 [02:23<09:34, 143.58s/it]

Running not in develop mode
RMSE on test data: 86576.02580016718

/Users/enqurance/Desktop/NUS/Sem1_AY2024-2025/CS5228/Projects/CS5228_Project/util/DataMining.py:168: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  missing_models = pd.concat([missing_models, row_df])
Running XGBoost:  40%|████████████████████████████████████████████████████████                                                                                    | 2/5 [04:49<07:14, 144.74s/it]

Running not in develop mode
RMSE on test data: 97104.87752028811

/Users/enqurance/Desktop/NUS/Sem1_AY2024-2025/CS5228/Projects/CS5228_Project/util/DataMining.py:168: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  missing_models = pd.concat([missing_models, row_df])
Running XGBoost:  60%|████████████████████████████████████████████████████████████████████████████████████                                                        | 3/5 [07:13<04:49, 144.72s/it]

Running not in develop mode
RMSE on test data: 93299.2585681242

/Users/enqurance/Desktop/NUS/Sem1_AY2024-2025/CS5228/Projects/CS5228_Project/util/DataMining.py:168: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  missing_models = pd.concat([missing_models, row_df])
Running XGBoost:  80%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████                            | 4/5 [09:33<02:22, 142.90s/it]

Running not in develop mode
RMSE on test data: 92199.50612841758

/Users/enqurance/Desktop/NUS/Sem1_AY2024-2025/CS5228/Projects/CS5228_Project/util/DataMining.py:168: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  missing_models = pd.concat([missing_models, row_df])
Running XGBoost: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [12:00<00:00, 144.16s/it]

Running not in develop mode
RMSE on test data: 91798.99605347653
Average RMSE: 92196

Prediction on test dataset

In [ ]:
x_train, y_train = df.drop(columns=['price']), df[['price', 'make']]
x_test = df_test[x_train.columns]
res_model =  XGBoostMiningByMake(x_train, x_test, y_train, dev=True)

In [ ]:
res_model.to_csv('./data/xgb_by_model_result.csv', index=False)