<img src="images/img.png" />

# CS5228 Project, Group 32

In [1]:
# Auto reload
%load_ext autoreload
%autoreload 2

In [2]:
import os
import json
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MultiLabelBinarizer
from tqdm import tqdm
import seaborn as sns
import matplotlib.pyplot as plt

## Train data preprocess
In this part, we are going to perform some data preprocessing steps. This may include:
* Data cleaning: handle missing values, duplicates, inconsistant or invalid vallues, outliers

* Data reduction: reduce number of attributes, reduce number of attribute values

* Data transformation: attribute construction, normalization

* Data discretization: encode to numerical attributes

### Load the train dataset

In [3]:
# Load file into pandas dataframe
df = pd.read_csv('./data/train.csv')

num_records, num_attributes = df.shape
print("There are {} data points in training data, each with {} attributes.". format(num_records, num_attributes))

There are 25000 data points in training data, each with 30 attributes.

### Data Cleaning

Before data cleaning, remove the known attributes that are not meaningful to our prediction model:
  * Meaningless idendifier: listing_id 
  * Attributes in free text: title, description, features, accessories
  * Attribute with the same value: eco_category, indicative_price
  * Attribute unlikely to affect price: curb_weight

We first drop columns with free text.

In [4]:
columns_to_drop = [
    'listing_id',          # Meaningless identifier
    'description',
    'features',
    'accessories',
    'eco_category',        # Attribute with the same value
    'indicative_price',
    'curb_weight',         # Attribute unlikely to affect price
    'transmission',
    'original_reg_date',
    'lifespan',
]

df = df.drop(columns=columns_to_drop)

num_records, num_attributes = df.shape
print("There are {} data points in training data, each with {} attributes.". format(num_records, num_attributes))

There are 25000 data points in training data, each with 20 attributes.

### Handle Missing Values
Firstly, for each of the columns with missing value, check the number of rows with NaN values.
There are 3 scenarios:
1. NaN value is the major (e.g. fuel_type has 19121 rows with NaN values), we remove the corresponding attritubes.
2. NaN value is the minor. We can choose to fill or delete related data points.

In [5]:
columns_to_check = [
    'make',
    'fuel_type',
    'manufactured',
    'power',
    'engine_cap',
    'mileage',
    'no_of_owners',
    'depreciation',
    'road_tax',
    'dereg_value',
    'omv',
    'arf',
    'opc_scheme'
]

# Calculate the number of NaN values in each specified column
nan_counts = df[columns_to_check].isna().sum()

# Print the number of NaN values for each column
print('Training data')
for column, count in nan_counts.items():
    print(f"Column '{column}' has {count} rows with NaN values.")

Training data
Column 'make' has 1316 rows with NaN values.
Column 'fuel_type' has 19121 rows with NaN values.
Column 'manufactured' has 7 rows with NaN values.
Column 'power' has 2640 rows with NaN values.
Column 'engine_cap' has 596 rows with NaN values.
Column 'mileage' has 5304 rows with NaN values.
Column 'no_of_owners' has 18 rows with NaN values.
Column 'depreciation' has 507 rows with NaN values.
Column 'road_tax' has 2632 rows with NaN values.
Column 'dereg_value' has 220 rows with NaN values.
Column 'omv' has 64 rows with NaN values.
Column 'arf' has 174 rows with NaN values.
Column 'opc_scheme' has 24838 rows with NaN values.

We first drop columns with TOO MANY NaN values and unlikely to help prediction

In [6]:
columns_to_drop_nan = [
    'fuel_type',
    'opc_scheme',
]

for col in columns_to_drop_nan:
    if col in df.columns:
        df = df.drop(columns=[col])

### Data transformation

Transform date time attributes to numerical values
This step is required to fill up the missing values.

In [7]:
from util.DataPreprocess import CalculateCarAge
    

df = CalculateCarAge(df)
num_records, num_attributes = df.shape
print("There are {} data points, each with {} attributes.". format(num_records, num_attributes))

There are 25000 data points, each with 19 attributes.

Then we fill column 'make' with title, since we notice that make is always covered by title.

In [8]:
make_set = []

for index, row in df.iterrows():
    if pd.notna(row['make']) and row['make'] in row['title'].lower():
        make_set.append(row['make'])
        
for index, row in df.iterrows():
    if pd.isna(row['make']):
        for make in make_set:
            if make in row['title'].lower():
                df.at[index, 'make'] = make.lower()
                break
                
df = df.drop(columns=['title'])

Then we transform categorical data to numerical data. We first use LabelEncoder to do encoding and save the label mapping.

In [9]:
test_file = './data/test.csv'
df_test = pd.read_csv(test_file)

categorical_columns = [
    'model',
    'make',
    'type_of_vehicle',
]

encode_dict = {}
le = LabelEncoder()
for column in categorical_columns:
    df[column] = le.fit_transform(df[column])
    encode_dict[column] = {str(label): int(index) for index, label in enumerate(le.classes_)}

with open('./data/encode.json', 'w') as file:
    json.dump(encode_dict, file, indent=4)

We then handle category column.

In [10]:
from util.DataPreprocess import HandlingCategoryAttribute

if 'category' in df.columns:
    df = HandlingCategoryAttribute(df)
    
print(df.columns)

Number of unique categories: 15
Unique categories: {'sgcarmart warranty cars', 'electric cars', 'rare & exotic', 'hybrid cars', 'vintage cars', 'sta evaluated car', 'low mileage car', 'direct owner sale', 'imported used vehicle', 'consignment car', 'coe car', 'almost new car', 'premium ad car', 'parf car', 'opc car'}
There are 25000 data points, each with 32 attributes.
Index(['make', 'model', 'manufactured', 'type_of_vehicle', 'power',
       'engine_cap', 'no_of_owners', 'depreciation', 'coe', 'road_tax',
       'dereg_value', 'mileage', 'omv', 'arf', 'price', 'reg_year', 'car_age',
       'almost new car', 'coe car', 'consignment car', 'direct owner sale',
       'electric cars', 'hybrid cars', 'imported used vehicle',
       'low mileage car', 'opc car', 'parf car', 'premium ad car',
       'rare & exotic', 'sgcarmart warranty cars', 'sta evaluated car',
       'vintage cars'],
      dtype='object')

In [11]:
columns_to_check = [
    'make',
    'manufactured',
    'engine_cap',
    'mileage',
    'no_of_owners',
    'depreciation',
    'road_tax',
    'dereg_value',
    'omv',
    'arf',
]

# Calculate the number of NaN values in each specified column
nan_counts = df[columns_to_check].isna().sum()

# Print the number of NaN values for each column
print('Training data')
for column, count in nan_counts.items():
    print(f"Column '{column}' has {count} rows with NaN values.")

df = df.dropna(subset=[
    'manufactured',
])

num_records, num_attributes = df.shape
print("There are {} data points, each with {} attributes.". format(num_records, num_attributes))

Training data
Column 'make' has 0 rows with NaN values.
Column 'manufactured' has 7 rows with NaN values.
Column 'engine_cap' has 596 rows with NaN values.
Column 'mileage' has 5304 rows with NaN values.
Column 'no_of_owners' has 18 rows with NaN values.
Column 'depreciation' has 507 rows with NaN values.
Column 'road_tax' has 2632 rows with NaN values.
Column 'dereg_value' has 220 rows with NaN values.
Column 'omv' has 64 rows with NaN values.
Column 'arf' has 174 rows with NaN values.
There are 24993 data points, each with 32 attributes.

### Then we try to fill up other missing values.

In [12]:
from util.DataPreprocess import HandlingMissingValue
from util.DataPreprocess import HandlingMissingValueWithImpute

columns = [
    'model',
    'mileage',
    'engine_cap',
    'no_of_owners',
    'coe', 
    'road_tax',
    'omv',
    'arf',
    'price',
]

print(df.columns)

df = HandlingMissingValue(df)
df = HandlingMissingValueWithImpute(df, columns)
total_nulls = df.isnull().sum()
print(total_nulls)

Index(['make', 'model', 'manufactured', 'type_of_vehicle', 'power',
       'engine_cap', 'no_of_owners', 'depreciation', 'coe', 'road_tax',
       'dereg_value', 'mileage', 'omv', 'arf', 'price', 'reg_year', 'car_age',
       'almost new car', 'coe car', 'consignment car', 'direct owner sale',
       'electric cars', 'hybrid cars', 'imported used vehicle',
       'low mileage car', 'opc car', 'parf car', 'premium ad car',
       'rare & exotic', 'sgcarmart warranty cars', 'sta evaluated car',
       'vintage cars'],
      dtype='object')
NaN values after handling:  0
make                       0
model                      0
manufactured               0
type_of_vehicle            0
power                      0
engine_cap                 0
no_of_owners               0
depreciation               0
coe                        0
road_tax                   0
dereg_value                0
mileage                    0
omv                        0
arf                        0
price                      0
reg_year                   0
car_age                    0
almost new car             0
coe car                    0
consignment car            0
direct owner sale          0
electric cars              0
hybrid cars                0
imported used vehicle      0
low mileage car            0
opc car                    0
parf car                   0
premium ad car             0
rare & exotic              0
sgcarmart warranty cars    0
sta evaluated car          0
vintage cars               0
dtype: int64

In [13]:
df.head()

,make,model,manufactured,type_of_vehicle,power,engine_cap,no_of_owners,depreciation,coe,road_tax,...,hybrid cars,imported used vehicle,low mileage car,opc car,parf car,premium ad car,rare & exotic,sgcarmart warranty cars,sta evaluated car,vintage cars
0,43,595.0,2018.0,8,280.0,2995.0,2.0,34270.0,48011.0,2380.0,...,0,0,0,0,1,0,0,0,0,0
1,51,192.0,2017.0,2,135.0,1991.0,2.0,21170.0,47002.0,1202.0,...,0,0,0,0,1,1,0,0,0,0
2,29,546.0,2007.0,4,118.0,2354.0,3.0,12520.0,50355.0,2442.0,...,0,0,1,0,0,1,0,0,0,0
3,88,156.0,2008.0,3,80.0,1598.0,3.0,10140.0,27571.0,1113.0,...,0,0,0,0,0,1,0,0,0,0
4,44,398.0,2006.0,2,183.0,2995.0,6.0,13690.0,48479.0,3570.0,...,0,0,0,0,0,1,0,0,0,0

### Remove Exact Duplicates
We remove duplicated data points here.

In [14]:
df = df.drop_duplicates()

num_records, num_attributes = df.shape
print("There are {} data points in training data, each with {} attributes.". format(num_records, num_attributes))

There are 24415 data points in training data, each with 32 attributes.

### Data Calculation

In [15]:
from util.DataPreprocess import DataCalculation

df = DataCalculation(df)

### Save the preprocessed data

In [16]:
file_name = './data/train_preprocessed_impute.csv'

# Check if the file exists
if os.path.exists(file_name):
    # Delete the file
    os.remove(file_name)
    print(f"Existing file '{file_name}' has been deleted.")

# Save the DataFrame to CSV
df.to_csv(file_name, index=False)
print(f"DataFrame has been saved to '{file_name}'.")

Existing file './data/train_preprocessed_impute.csv' has been deleted.
DataFrame has been saved to './data/train_preprocessed_impute.csv'.

### Load preprocessed training data

In [17]:
# Load file into pandas dataframe, we saved our preprocessed file at path 'output_file'
training_file = './data/train_preprocessed_impute.csv'
df = pd.read_csv(training_file)

columns_to_keep = [col for col in df.columns if col != 'price']

print(df.columns)
num_records, num_attributes = df.shape
print("There are {} data points in training data, each with {} attributes.". format(num_records, num_attributes))

Index(['make', 'model', 'manufactured', 'type_of_vehicle', 'power',
       'engine_cap', 'no_of_owners', 'depreciation', 'coe', 'road_tax',
       'dereg_value', 'mileage', 'omv', 'arf', 'price', 'reg_year', 'car_age',
       'almost new car', 'coe car', 'consignment car', 'direct owner sale',
       'electric cars', 'hybrid cars', 'imported used vehicle',
       'low mileage car', 'opc car', 'parf car', 'premium ad car',
       'rare & exotic', 'sgcarmart warranty cars', 'sta evaluated car',
       'vintage cars', 'omv_arf_ratio', 'dereg_coe_ratio'],
      dtype='object')
There are 24415 data points in training data, each with 34 attributes.

### Data Augmentation, copy rows with less than 5 samples by group. The augmentated data is used only for validation

In [18]:
from util.DataPreprocess import DataAugmentation

df_aug = DataAugmentation(df)

num_records, num_attributes = df_aug.shape
print("There are {} data points after augmentation, each with {} attributes.". format(num_records, num_attributes))

There are 40693 data points after augmentation, each with 34 attributes.

### Save the augmentation data

In [19]:
file_name = './data/train_preprocessed_augmentation.csv'

# Check if the file exists
if os.path.exists(file_name):
    # Delete the file
    os.remove(file_name)
    print(f"Existing file '{file_name}' has been deleted.")

# Save the DataFrame to CSV
df_aug.to_csv(file_name, index=False)
print(f"DataFrame has been saved to '{file_name}'.")

Existing file './data/train_preprocessed_augmentation.csv' has been deleted.
DataFrame has been saved to './data/train_preprocessed_augmentation.csv'.

## Preprocess test data

Load test data and preprocess. We also need training data to help here.

In [44]:
train_file = './data/train_preprocessed_impute.csv'
df = pd.read_csv(train_file)

test_file = './data/test.csv'
df_test = pd.read_csv(test_file)

We first drop columns with free text.

In [45]:
columns_to_drop = [
    'listing_id',          # Meaningless identifier
    'description',
    'features',
    'accessories',
    'eco_category',        # Attribute with the same value
    'indicative_price',
    'curb_weight',         # Attribute unlikely to affect price
    'transmission',
    'original_reg_date',
    'lifespan',
]

df_test = df_test.drop(columns=columns_to_drop)

num_records, num_attributes = df_test.shape
print("There are {} data points in training data, each with {} attributes.". format(num_records, num_attributes))

There are 10000 data points in training data, each with 19 attributes.

### Calculate car age

In [46]:
from util.DataPreprocess import CalculateCarAge
df_test = CalculateCarAge(df_test)

num_records, num_attributes = df_test.shape
print("There are {} data points, each with {} attributes.". format(num_records, num_attributes))

There are 10000 data points, each with 20 attributes.

### Convert category data

In [47]:
from util.DataPreprocess import HandlingCategoryAttribute

if 'category' in df_test.columns:
    df_test = HandlingCategoryAttribute(df_test)

Number of unique categories: 15
Unique categories: {'sgcarmart warranty cars', 'opc car', 'electric cars', 'hybrid cars', 'rare & exotic', 'vintage cars', 'sta evaluated car', 'low mileage car', 'direct owner sale', 'imported used vehicle', 'consignment car', 'coe car', 'premium ad car', 'parf car', 'almost new car'}
There are 10000 data points, each with 34 attributes.

### Handle missing values on test data

We first drop columns with TOO MANY NaN values and unlikely to help prediction

In [48]:
columns_to_drop_nan = [
    'fuel_type',
    'opc_scheme',
]

for col in columns_to_drop_nan:
    if col in df_test.columns:
        df_test = df_test.drop(columns=[col])

We also fill column 'make' with 'title' here as we did before on train data.

In [49]:
make_set = []

for index, row in df_test.iterrows():
    if pd.notna(row['make']) and row['make'] in row['title'].lower():
        make_set.append(row['make'])
        
for index, row in df_test.iterrows():
    if pd.isna(row['make']):
        for make in make_set:
            if make in row['title'].lower():
                df_test.at[index, 'make'] = make.lower()
                break
                
df_test = df_test.drop(columns=['title'])

In [50]:
columns_to_check = [
    'make',
    'model',
    'manufactured',
    'engine_cap',
    'no_of_owners',
    'depreciation',
    'road_tax',
    'mileage',
    'dereg_value'
]

# Calculate the number of NaN values in each specified column
nan_counts = df_test[columns_to_check].isna().sum()

# Print the number of NaN values for each column
print('Test data')
total_nulls = df_test.isnull().sum()
print(total_nulls)

Test data
make                          0
model                         0
manufactured                  3
type_of_vehicle               0
power                      1086
engine_cap                  235
no_of_owners                  8
depreciation                201
coe                           0
road_tax                   1082
dereg_value                  83
mileage                    2166
omv                          29
arf                          65
reg_year                      0
car_age                       0
almost new car                0
coe car                       0
consignment car               0
direct owner sale             0
electric cars                 0
hybrid cars                   0
imported used vehicle         0
low mileage car               0
opc car                       0
parf car                      0
premium ad car                0
rare & exotic                 0
sgcarmart warranty cars       0
sta evaluated car             0
vintage cars                  0
dtype: int64

In [51]:
from util.DataPreprocess import HandlingCategoryAttribute

if 'category' in df_test.columns:
    df_test = HandlingCategoryAttribute(df_test)

In [ ]:
from util.DataPreprocess import HandlingMissingValueWithImputeReference
from util.DataPreprocess import HandlingMissingValueTest

columns = [
    'omv',
    'arf',
    'manufactured',
    'engine_cap',
    'no_of_owners',
    'depreciation',
    'road_tax',
    'mileage',
    'dereg_value'
]
print(df.columns)

df_test = HandlingMissingValueTest(df_test)
df_test = HandlingMissingValueWithImputeReference(df_test, df, columns)

Index(['make', 'model', 'manufactured', 'type_of_vehicle', 'power',
       'engine_cap', 'no_of_owners', 'depreciation', 'coe', 'road_tax',
       'dereg_value', 'mileage', 'omv', 'arf', 'price', 'reg_year', 'car_age',
       'almost new car', 'coe car', 'consignment car', 'direct owner sale',
       'electric cars', 'hybrid cars', 'imported used vehicle',
       'low mileage car', 'opc car', 'parf car', 'premium ad car',
       'rare & exotic', 'sgcarmart warranty cars', 'sta evaluated car',
       'vintage cars', 'omv_arf_ratio', 'dereg_coe_ratio'],
      dtype='object')
NaN values after handling:  3964

In [ ]:
# df_test = HandlingMissingValueWithReference(df, df_test)
total_nulls = df_test.isnull().sum()
print(total_nulls)
print(df_test.head())

In [ ]:
from util.DataPreprocess import DataCalculation

df_test = DataCalculation(df_test)

### Encode attributes on test data

In [ ]:
num_records, num_attributes = df_test.shape
print("There are {} data points, each with {} attributes.". format(num_records, num_attributes))

categorical_columns = [
    'make',
    'model',
    'type_of_vehicle'
]

with open('./data/encode.json', 'r') as file:
    data = json.load(file)

new_encodings = {}

for col, cate_dict in data.items():
    if col in df_test.columns and col in categorical_columns:
        original_values = df_test[col].copy()
        
        df_test[col] = df_test[col].map(cate_dict)
        
        missing = df_test[col][df_test[col].isna()]
        if not missing.empty:
            original_missing_values = original_values[missing.index]
            unique_missing_values = original_missing_values.unique()
            new_encoding_dict = {val: idx for idx, val in enumerate(unique_missing_values, start=max(cate_dict.values()) + 1)}
            new_encodings[col] = new_encoding_dict
            
            df_test[col].fillna(original_missing_values.map(new_encoding_dict), inplace=True)

if new_encodings:
    print("New encodings created for missing values:")
    for col, encodings in new_encodings.items():
        print(f"Column: {col}, New encodings: {encodings}")
else:
    print("No new encodings were necessary.")

print(df_test.head())

num_records, num_attributes = df_test.shape
print(f"There are {num_records} data points in test data, each with {num_attributes} attributes.")

In [ ]:
# df_test = HandlingMissingValueWithReference(df, df_test)
total_nulls = df_test.isnull().sum()
print(total_nulls)

df_test.to_csv('./data/test_preprocessed.csv')

In [ ]:
df_test.head()

In [ ]:
len(df_test)